<web-app>
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s2</servlet-name>
		<servlet-class>remove</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>

			<servlet>
		<servlet-name>s3</servlet-name>
		<servlet-class>controller2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s3</servlet-name>
		<url-pattern>/order2</url-pattern>
	</servlet-mapping>



			<servlet>
		<servlet-name>s4</servlet-name>
		<servlet-class>mail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s4</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>



</web-app>